.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}

.main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;

    h1 {
        color: #2d2e32;
        font-size: 5.5rem;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    p {
        color: #555;
        text-align: left;
        font-family: Mulish, sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.6;
    }

    span {
        cursor: pointer;
        display: flex;
        gap: 1.3rem;
        margin: 2.5rem 0;

        a {
            transition: all .2s;
            color: black
        }
    }
}

.image {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;
}

@media (max-width: 900px) {
    .hero {
        height: auto;
        padding: 11rem 0;
    }

    .container {
        padding: 0 1.7rem;
    }

    .content {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }

    .text {

        h1 {
            font-size: 4rem;
        }

        p {
            margin-bottom: 5rem;
        }

        span {
            gap: 1.6rem;
            justify-content: center;
            margin-bottom: 4rem;
            margin-top: -2rem;
        }
    }

    .main {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }

    .image {
        height: 28rem;
        width: 28rem;
    }
}