nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 20px;

    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }

    .logo {
        color: #2d2e32;
        cursor: pointer;
    }

     span {
        height: 100%;
        width: 70px;
        padding: 25px;
        align-items: center;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    }
}