.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
  
    .project-image {
      flex: 1.5;
      img {
        max-width: 100%;
        height: auto; /* Maintain aspect ratio */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  
    .project-details {
      flex: 1.5;
      padding-left: 40px;
  
      h3 {
        font-size: 23px;
        margin-bottom: 15px;
        color: #333;
      }
  
      p {
        font-size: 16px;
        color: #555;
        margin-bottom: 20px;
        text-align: justify;
      }
  
      .technologies {
        margin-left: 15px;
        margin-bottom: 20px;
  
        span {
          display: inline-block;
          background-color: #f0f0f0;
          color: #333;
          padding: 8px 12px;
          margin-right: 10px;
          border-radius: 20px;
          font-size: 14px;
          font-weight: bold;
        }
      }
  
      .project-links {
        margin-top: 40px;
        margin-left: 15px;
        display: flex;

        .btn {
          padding: 12px 25px;
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 13px;
          background-color: #ff3d3d;
          color: white;
          text-decoration: none;
          border-radius: 5px;
          font-weight: bold;
          transition: background-color 0.3s;
          margin-right: 10px;

          .icon {
            font-size: 15px; // Increase the size of the icon
          }
  
          &:hover {
            background-color: #e63434;
          }

          .code-btn {
            background-color: #ff3d3d; // Red for the GitHub Code button
          }
  
          &.live-demo {
            background-color: #333;
  
            &:hover {
              background-color: #555;
            }
            .icon {
              font-size: 15px; // Increase the size of the external link icon
            }
          }
        }
      }
    }
}
  
// Responsive Design for smaller screens
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    padding: 15px; /* Reduce padding for smaller screens */
    
    .project-image {
      flex: none; /* Remove flex property */
      margin-bottom: 20px; /* Space between image and details */
    }

    .project-details {
      padding-left: 0;
      padding-top: 20px;

      h3 {
        font-size: 20px; /* Slightly smaller font size */
      }

      p {
        font-size: 15px; /* Adjust font size for better readability */
      }

      .technologies {
        margin-left: 0; /* Align technologies to the left */
      }

      .project-links {
        margin-left: 0; /* Center-align buttons */
        justify-content: center; /* Center the buttons */
      }
    }
  }
}