body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  position: relative;
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
